{% extends 'base.html' %}
{% block title %}
<title>编辑地址</title>
{% endblock %}
{% block container %}
    <header class="wy-header">
      <div class="wy-header-icon-back"><span></span></div>
      <div class="wy-header-title">编辑地址</div>
    </header>
    <form class="weui-content" method="post" action=".">
      <div class="weui-cells weui-cells_form wy-address-edit">
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label wy-lab">收货人</label>
          </div>
          <div class="weui-cell__bd">
            <input
              class="weui-input"
              type="text"
              placeholder="张三"
              value="{{form.username.value|default_if_none:''}}"
              name="username"
            />
          </div>
        </div>
        {{form.username.errors}}
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label wy-lab">手机号</label>
          </div>
          <div class="weui-cell__bd">
            <input
              class="weui-input"
              type="text"
              name = "phone"
              value="{{form.phone.value|default_if_none:''}}"
              placeholder=""
            />
          </div>
        </div>
        {{form.phone.errors}}
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label for="name" class="weui-label wy-lab">所在地区</label>
          </div>
          <div class="weui-cell__bd">
            <input
              class="weui-input"
              id="address"
              type="text"
              value="{{form.region.value|default_if_none:''}}"
              readonly=""
              name = "region"
            />
          </div>
        </div>
        {{form.region.errors}}
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label wy-lab">详细地址</label>
          </div>
          <div class="weui-cell__bd">
            <textarea
              class="weui-textarea"
              placeholder="珠江新城珠江大厦8楼"
              name="address"
            >{{form.address.value|default_if_none:''}}</textarea>
          </div>
        </div>
        {{form.address.errors}}
        <div class="weui-cell weui-cell_switch">
          <div class="weui-cell__bd">设为默认地址</div>
          <div class="weui-cell__ft">
<!--            <input class="weui-switch" type="checkbox" name="is_default"/>-->
            {{form.is_default}}
          </div>
        </div>
        {{form.is_default.errors}}
        {{form.non_field_errors}}
      </div>
      <div class="weui-btn-area">
        <button type="submit"
          class="weui-btn weui-btn_primary"
          href="javascript:"
          id="showTooltips"
          >保存此地址</button
        >
        <a href="javascript:;" class="weui-btn weui-btn_warn" id="id_delete_addr">删除此地址</a>
      </div>
    </form>
{% endblock %}
{% block footer %}
{# footer  #}
<script src="/static/js/city-picker.js"></script>
<script>
  $('#address').cityPicker({
    title: '选择出发地',
    onChange: function(picker, values, displayValues) {
      console.log(values, displayValues);
    }
  });
  $("#id_delete_addr").click(function () {
    if(window.confirm('确认删除地址')){
      "{% if form.instance.id %}"
      $.post("{% url 'accounts:address_delete' form.instance.id %}", function (rest) {
        if(rest == 'ok'){
          location.href = "{% url 'accounts:address_list' %}"
        }
      })
      "{% endif %}"
    }
  })
</script>
{% endblock %}

